body {
    background-color: #0d0d12;
    margin: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Nunito;
    src: url('fonts/Nunito-Light.ttf');
}

.banner {
    height: 100vh;
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(13, 13, 18,1) 50%, rgba(13,13,18,0.7) 100%),  url('images/background.jpg');
    background-size: cover;

    position: relative;
}

.aprContainer {
    background-color: #17171C;
    font-family: Nunito;
    border-radius: 30px;
    box-shadow: 0px 0px 30px -5px rgb(0 0 0 / 100%);
    transition: 0.2s;

    display: block;
    margin-left: auto;
    margin-right: auto;
    content: "";
    display: table;
    clear: both;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.aprBoxTexto {
    text-align: left;
    padding: 20px;
    float: right;
    width: 250px;
}

.aprNome {
    color: #BFDBF7;
    font-size: 35px;
    font-style: bold;
}
.aprTexto {
    color:#8091a3;
    font-size: 18px;
}
.aprRedes {
    padding-top: 10px;
    text-align:center;
}

.aprBoxImagem {
    background-image: url('images/avatar.jpg');
    background-repeat: no-repeat;
    background-size: 250px;
    border-radius: 30px;
    box-shadow: 15px 0px 15px -5px rgb(0 0 0 / 43%);
    transition: 0.3s;

    float: left;
    width: 250px;
    height: 250px;

    content: "";
    display: table;
    clear: both;
}



.fa {
    transition: 0.3s;
    color: #BFDBF7;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    background-color: #0d0d12;
}


@media screen and (min-width:700px) {
    
    .aprContainer {
        width: 500px;
        height: 250px;
    }


    .aprBoxTexto {
        text-align: center;
        height: 250px;
        padding: 60px 20px
    }

    .aprBoxImagem:hover {
        background-size: 270px;
        background-position: center;
    }

}

@media screen and (max-width:699px) {

    .aprContainer {
        width: 250px;
    }

    .aprBoxImagem {
        float:none;
    }

    .aprBoxTexto {
        float: none;
    }

    .aprNome {
        text-align: center;
    }

    .aprTexto {
        text-align: center;
    }
    
}