@font-face {
    font-family: NunitoBold;
    src: url(fonts/Nunito-Bold.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(fonts/Nunito-Light.ttf);
}

body {
    margin: 0;
}

.sec1 {
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(0,13,32,1) 19%, rgba(0,13,32,0.9359341148568803) 48%, rgba(0,13,32,0.582992938386292) 100%), url('images/back.png');
    background-size: cover;
    background-position: right;
}

.infos {
    position: absolute;
    bottom: 0;
    margin: 80px;
}

.infos h1, h2 {
    font-family: NunitoBold;
    margin: 0;
}

.infos h1 {
    font-size: 80px;
    color: white;
}

.infos h2 {
    font-size: 30px;
    color:grey;
}

.infos p {
    width: 500px;
    color: white;
    font-family: Nunito;
    text-align: justify;
}

.button {
    font-family: Nunito;
    color: white;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    transition: 0.2s;
}

.button:hover {
    color:#000d20;
    background-color: white;
}

.sec2 {
    height: 300px;
    background-color: red;
}